body{
  background-color: #efedec;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2em;
}
.editor{
  margin-right: 8em;
}
.bg-lightBlue{
  background-color:#7b8cb7!important;
  color: white;
}

.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline{
  min-height: 300px;
}